<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-20">
  <div class="container">
    <h1 class="color-green pull-left">Parteneri</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to t(:home), root_path %> <span class="divider">/</span></li>
      <li class="active">Parteneri</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid">
    <div class="span9">
      <div class="headline"><h3>Partenerii noștri</h3></div>
      <%= render @clients %>
    </div><!--/span9-->

    <div class="span3">
      <%= render 'layouts/right_side' %>
    </div><!--/span3-->
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
