<div class="container">
<div class="page-header">
  <h3>Calculator <small></small></h3>
</div>

<div class="calc_tabs_header">
  <h5>
    <span class="link_to_metalic">Țeavă Metal</span> |
    <span class="link_to_plastic"><%= link_to 'Țeavă Polietilenă', plastic_calc_path, remote: true %></span>
  </h5>
</div>

<div class="calc_container">
  <%= render 'calc_metalic' %>
</div>
<br><br><br>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Atenție!</h3>
  </div>
  <div class="panel-body">
    Prețul este arătat doar în scopuri informative și poate varia în funcție de domeniul de activitate și de distanța obiectului.
  </div>
</div>
</div>
