<script>
$(function() {
    var values = [40, 50, 63, 90, 110, 125, 140, 160, 225, 250];
    var slider = $("#price-range").slider({
        orientation: 'horizontal',
        range: true,
        min: 0,
        max: 1000000,
        values: [0, 1000000],
        slide: function(event, ui) {
            var includeLeft = event.keyCode != $.ui.keyCode.RIGHT;
            var includeRight = event.keyCode != $.ui.keyCode.LEFT;
            var value = findNearest(includeLeft, includeRight, ui.value);
            if (ui.value == ui.values[0]) {
                slider.slider('values', 0, value);
            }
            else {
                slider.slider('values', 1, value);
            }
            $("#price-amount").html('$' + slider.slider('values', 0) + ' - $' + slider.slider('values', 1));
            return false;
        },
        change: function(event, ui) {
            getHomeListings();
        }
    });
    function findNearest(includeLeft, includeRight, value) {
        var nearest = null;
        var diff = null;
        for (var i = 0; i < values.length; i++) {
            if ((includeLeft && values[i] <= value) || (includeRight && values[i] >= value)) {
                var newDiff = Math.abs(value - values[i]);
                if (diff == null || newDiff < diff) {
                    nearest = values[i];
                    diff = newDiff;
                }
            }
        }
        return nearest;
    }
});
</script>

<p>
  <label for="amount">Minimum number of bedrooms:</label>
  <input type="text" id="price-amount" style="border: 0; color: #f6931f; font-weight: bold;" />
</p>
<div id="price-range"></div>


[ 40, 50, 63, 90, 110, 125, 140, 160, 225, 250 ]
250 - metal? 325 - polietilena
https://github.com/BlakeSimpson/SteppedRangeSlider
