<% content_for :scripts do %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="assets/plugins/gmap/gmap.js"></script>
<script type="text/javascript" src="/assets/js/pages/contact.js"></script>
  <script type="text/javascript">
//add locations
    var map = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 8,
      center: new google.maps.LatLng(47.100045, 28.78418),
      mapTypeId: google.maps.MapTypeId.TERRAIN
    });

    var address1 = 'Chisinau, Armeneasca 1';

    var gc = new google.maps.Geocoder();
    gc.geocode({'address': address1}, function (res1, status) {

        var hub = res1[0].geometry.location;
        new google.maps.Marker({
            position: res1[0].geometry.location,
            map: map
          });

        geocodeLine(hub, 'Chisinau, Armeneasca 12');
    });

    function geocodeLine(hub, address)
    {
        var gc = new google.maps.Geocoder();

        gc.geocode({'address': address}, function (res, status) {
            if (status == google.maps.GeocoderStatus.OK) {

              new google.maps.Marker({
                position: res[0].geometry.location,
                map: map
              });

              new google.maps.Polyline({
                path: [
                  hub,
                  res[0].geometry.location
                ],
                strokeColor: '#FF0000',
                geodesic: true,
                map: map
                });
            }
        });
    }
  </script>
<% end %>


<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1 class="pull-left">Lucrări îndeplinite</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to t(:home), root_path %> <span class="divider">/</span></li>
      <li class="active">Lucrări îndeplinite</li>
    </ul>
  </div><!--/container-->
</div>

<div class="container">
<!-- Google Map -->
<div id="map-canvas" class="map margin-bottom-40">
</div><!---/map-->
<!-- End Google Map -->
</div>
http://www.doogal.co.uk/LatLong.php
