<% content_for :plugins do %>
<link rel="stylesheet" href="/assets/plugins/fancybox/source/jquery.fancybox.css">
<link rel="stylesheet" href="/assets/css/effects.css">
<% end %>
<% content_for :scripts do %>
<script type="text/javascript" src="/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
<% end %>
<% content_for :script_init do %>
App.initFancybox();
<% end %>
<div class="breadcrumbs margin-bottom-50">
  <div class="container">
    <h1 class="color-green pull-left"><%= t('gallery.gallery') %></h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to t(:home), root_path %><span class="divider">/</span></li>
      <li class="active"><%= t('gallery.gallery') %></li>
    </ul>
  </div><!--/container-->
</div>
<%#= Gallery.last.images.count %>
<div class="container">
  <div class="row gallery">
    <% if @gallery.images.any? %>
    <ul class="thumbnails">
    <% @gallery.images.each do |image| %>
      <li class="span3">
        <a class="thumbnail fancybox-button zoomer" data-rel="fancybox-button" title="Project #1" href="assets/img/carousel/9.jpg">
          <div class="overlay-zoom">
            <img src="assets/img/carousel/9.jpg" alt="">
            <div class="zoom-icon"></div>
          </div>
        </a>
      </li>
    <% end %>
    </ul><!--/thumbnails-->
    <% else %>
      <%= render "welcome/under_construction" %>
    <% end %>
  </div><!--/row-->
</div>
