<div class="row-fluid breadcrumbs margin-bottom-20">
  <div class="container">
    <h1 class="pull-left">Tehnologie</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to t(:home), root_path %> <span class="divider">/</span></li>
      <li class="active">Tehnologie</li>
    </ul>
  </div><!--/container-->
</div>
<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid blog-page blog-item">
    <!-- Left Sidebar -->
    <div class="span9">
      <div class="blog margin-bottom-30">
        <% if @page.display? %>
          <%= sanitize raw(@page.content_for_locale(current_language)) %>
        <% else %>
          <%= render '/welcome/under_construction' %>
        <% end %>
      </div><!--/blog-->

      <hr />
    </div><!--/span9-->

    <!-- Right Sidebar -->
    <div class="span3">
      <%= render 'layouts/right_side' %>
    </div><!--/span3-->
  </div><!--/row-fluid-->
</div><!--/container-->
<!--=== End Content Part ===-->
