<div class="main-box">
  <div class="extra-wrap">
    <h3>
      <cufon class="cufon cufon-canvas" alt="Welcome " style="width: 153px; height: 36px; ">
        <canvas width="181" height="44" style="width: 181px; height: 44px; top: -6px; left: -2px; "></canvas>
        <cufontext>
          <%= t('About') %>
        </cufontext>
      </cufon>
    </h3>
  </div>
  <div class="clear"></div>
</div>
<div class="container_12 p3">
  <div class="box maxheight" style="height: 280px; ">
    <div class="padding extra-wrap">
      <h6><%= t('Societatea cu Răspundere Limitată') %> "NCCM GRUP"</h6>
      <p class="p2">
        <table>
          <tr>
            <td>IDNO:</td>
            <td>1008600015362</td>
          </tr>
          <tr>
            <td><%= t('Data înregistrării') %></td>
            <td>12.03.2008</td>
          </tr>
          <tr>
            <td><%= t('Administrator') %></td>
            <td>Chiriac Nicolae</td>
          </tr>
        </table>
      </p>
    </div>
  </div>
  <div class="clear"></div>
</div>
