<%= javascript_include_tag "flowplayer-3.2.9.min.js" %>
<style type="text/css" media="screen">
/* <![CDATA[ */
  .service_list{
    font-size:18px;
    color:black;
    padding-left:10px;
  }
/* ]]> */
</style>

<div class="main-box">
  <div class="extra-wrap">
    <h3>
      <cufon class="cufon cufon-canvas" alt="Welcome " style="width: 153px; height: 36px; ">
        <canvas width="181" height="44" style="width: 181px; height: 44px; top: -6px; left: -2px; "></canvas>
        <cufontext>
          <%= t('Services') %>
        </cufontext>
      </cufon>
    </h3>
  </div>
  <div class="clear"></div>
</div>
<div class="container_12 p3">
  <div class="box maxheight" style="padding-bottom:20px;">
    <div class="service_list">1. <%= t("Horizontal Directional Drill")%></div>
    <div class="video1" style="float:left;border:10px solid grey;width:425px;margin:20px 0 20px 20px;">
       <a href="/videos/d1620.flv"
            style="display:block;width:425px;height:300px;"
            id="player1">
       </a>
    </div>
    <div class="video2" style="float:left;border:10px solid grey;width:425px;margin:20px 0 20px 20px;">
       <a href="/videos/d3344.flv"
            style="display:block;width:425px;height:300px;"
            id="player2">
       </a>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div class="clear"></div>
</div>

<script language="JavaScript">
	flowplayer("player1", "/player/flowplayer-3.2.10.swf",  {
	clip: {

    urlEncoding: true,
		// these two configuration variables does the trick
		autoPlay: false,
		autoBuffering: true // <- do not place a comma here
	}
});
</script>
<script language="JavaScript">
	flowplayer("player2", "/player/flowplayer-3.2.10.swf",  {
	clip: {

    urlEncoding: true,
		// these two configuration variables does the trick
		autoPlay: false,
		autoBuffering: true // <- do not place a comma here
	}
});
</script>
