html {width:100%}

body {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:100%;
  color:#969696;
  min-width:1042px;
  background:url(body.gif) 0 0 repeat-x #E8E8E8;
  padding:0 0 59px;}
.container_12{margin-left:auto;margin-right:auto;width:960px}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;position:relative;margin:0 10px}
.alpha{margin-left:0}
.omega{margin-right:0}
.container_12 .grid_4{width:300px}
.container_12 .grid_8{width:620px}
.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
.clearfix{display:inline-block}

html .clearfix{height:1%}.clearfix{display:block}
.main {width:1042px;padding:0;margin:0 auto;font-size:13px;line-height:19px}

a {color:#555;outline:none}
a:hover {text-decoration:none}

.clear {clear:both;width:100%;line-height:0;font-size:0}

.wrapper {width:100%;overflow:hidden}
.extra-wrap {overflow:hidden}

.container {width:100%}

p {margin-bottom:27px}
.p0 {margin-bottom:0 !important;}
.p1 {margin-bottom:18px;display:block;}
.p2 {margin-bottom:15px}
.p3 {margin-bottom:30px}
.reg {text-transform:uppercase}

.fleft {float:left}
.fright {float:right}

.alignright {text-align:right}
.aligncenter {text-align:center}

.it {font-style:italic}

.letter {letter-spacing:-1px}

.color-1 {color:#fff}
.color-2 {color:#000}
.color-3 {color:#555}


.border {}

.buttons a:hover {cursor:pointer}

.list-1 li a,
.link, .button, .button1,
.logo {text-decoration:none}	

/*********************************header*************************************/
header {padding:20px 0 19px 2px;font-family:Arial, Helvetica, sans-serif;position:relative;z-index:2;}
a.logo {color:#1d1d1d;font-size:50px;line-height:1.2em;letter-spacing:0px}
nav {float:right;padding:24px 28px 0 0;}

/*********************************content*************************************/
div.logo {
font-size: 14px;
color: #AEAEAE;
text-transform: uppercase;
text-shadow: 1px 0 rgba(174, 174, 174, .5);
margin: 10px 0 0 3px;
}
div.logo li {
text-decoration:none;
}
nav {
float: right;
padding: 24px 28px 0 0;
display:block
}


.sf-menu ul {
    position:absolute;
    top:-999em;
    width:100%;/* left offset of submenus need to match (see below) */
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.34); /* FF3.5+ */
  	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.34); /* Saf3.0+, Chrome */
    box-shadow: 0px 1px 2px rgba(0,0,0,.34);
	  font-size:13px;
	  background-color: #fff;
	  padding:5px;
	}
.sf-menu ul li {
    width:100%
    }
.sf-menu li:hover {
    visibility:inherit;
  }
.sf-menu li {
    float:left;
    position:relative;
    margin:0 2px;
    list-style:none;
  }
.sf-menu a {
    display:block;
    position:relative
  }
.sf-menu li:hover ul,.sf-menu li.sfHover ul {
    left:-5px;
    top:45px;
    z-index:99;
  }

.sf-menu {
    font-size:15px;
    line-height:1.2em;
  }
.sf-menu a {
    padding:10px;
    text-decoration:none;
    color:#323232;
  }
.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu li.current {
	  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.34); /* FF3.5+ */
  	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.34); /* Saf3.0+, Chrome */
    box-shadow: 0px 1px 2px rgba(0,0,0,.34);
	background-color: #fff;
  }
.sf-menu li li {
  margin:0;
  }


#content {padding:0px 0px 37px 0px}


h3 {font-size:36px;line-height:1.2em;margin:0px 0 30px;color:#303030;}
h3.extra-wrap {line-height:54px;}
h6 {font:normal 16px/20px Arial, Helvetica, sans-serif;color:#4e4e4e;text-shadow:1px 0 rgba(78,78,78,.8);margin:0 0 14px;}

.scroll {overflow:auto;height:180px;position:relative}
.scroll .padding-right {height:1%;padding-right:50px}

.border-bot {padding-bottom:20px;border-bottom:1px solid #eee;margin-bottom:20px;}

.box {box-shadow:0 0 5px rgba(190,190,190,.5);-moz-box-shadow:0 0 5px rgba(190,190,190,.5);-webkit-box-shadow:0 0 5px rgba(190,190,190,.5);background:#E3E3E3;padding:41px 0 0}
.box .padding {padding:28px 17px 21px 30px}
#content .box {padding:0;}
.box.padding-top {padding-top:51px;}


.main-box {background:#ffc60f;padding:21px 32px 25px 24px;color:#fff;overflow:hidden;margin-bottom:21px;}
.main-box h3 {color:#3B3B3B;margin:0px 0 20px;}
.main-box figure {float:left;margin-right:34px;position:relative;}
.main-box figure img {border:9px solid #fff;}
.main-box .button {background:#2e2e2e;}
.main-box .button:hover {background:#727272;}

#index_menu{
  background:url(logo.png);
  height:450px;
  width:950px;
  margin:auto;
  background-repeat:no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /*  Safari  */
    -khtml-background-size: 100% 100%; /*  Konqueror  */
    -moz-background-size: 100% 100%; /*  Firefox  */
}

.button {display:inline-block;color:#fff;background:#727272;padding:9px 21px;font-size:18px;line-height:1.2em;}
.button:hover {background:#ffc60f;}

.button1 {display:inline-block;color:#fff;background:#ffc60f;padding:9px 21px;font-size:18px;line-height:1.2em;}
.button1:hover {background:#727272;}


