<div id="clients-flexslider" class="flexslider home clients">
  <div class="headline"><h3><%= t('main_page.our_clients') %></h3></div>
  <ul class="slides">
    <% Client.all.each do |client| %>
      <li>
        <a href="<%= client.url %>">
          <img src="assets/img/clients/orange_grey.jpg" alt="" />
          <img src="assets/img/clients/orange.jpg" class="color-img" alt="" />
        </a>
      </li>
    <% end %>
  </ul>
</div><!--/flexslider-->
