<!-- Our Services -->
<div class="who margin-bottom-30">
  <div class="headline"><h3><%= t('right_side.our_services') %></h3></div>
  <p>At vero eos et accusamus et iusto odio dign issimos ducimus qui blanditiis iusto.</p>
  <ul class="unstyled">
    <li><a href="#"><i class="icon-chevron-sign-right"></i>Vivamus imperdiet condimentum</a></li>
    <li><a href="#"><i class="icon-chevron-sign-right"></i>Anim pariatur cliche squid</a></li>
    <li><a href="#"><i class="icon-chevron-sign-right"></i>Eget placerat felis consectetur</a></li>
    <li><a href="#"><i class="icon-chevron-sign-right"></i>Condimentum diam eget placerat</a></li>
  </ul>
</div>
<!-- Contact Us -->
<div class="who margin-bottom-30">
  <div class="headline"><h3><%= t('right_side.contacts') %></h3></div>
  <p>Vero facilis est etenim a feugiat cupiditate non quos etrerum facilis.</p>
  <ul class="unstyled who margin-bottom-20">
    <li><a href="#"><i class="icon-home"></i><%= t('contacts.address') %></a></li>
    <li><a href="#"><i class="icon-envelope-alt"></i><%= mail_to "nccmgrup@gmail.com" %></a></li>
    <li><a href="#"><i class="icon-phone-sign"></i>(373) 22 73-78-42</a></li>
    <li><a href="http://www.nccm.md"><i class="icon-globe"></i>http://www.nccm.md</a></li>
  </ul>
</div>
