<div class="container">
  <ul class="loginbar pull-right">
    <li><i class="icon-globe"></i><a><%= t('menu.languages') %> <i class="icon-sort-up"></i></a>
      <ul class="nav-list">
        <% LOCALES.keys.each do |k| %>
          <li class=<%= "active" if @locale == k %>>
            <%= link_to k, set_locale_path(:lang => k,:back => request.fullpath) %>
            <%= "<i class='icon-ok'></i>".html_safe if @locale == k %>
          </li>
        <% end %>
      </ul>
    </li>
<!--     <li class="devider">&nbsp;</li>
    <li><a href="page_faq.html" class="login-btn">Help</a></li>
    <li class="devider">&nbsp;</li>
    <li><a href="page_login.html" class="login-btn">Login</a></li> -->
  </ul>
</div>
